<h1>Welcome to ProductPedia</h1>
<%if user_signed_in?%> 
  <% list_favorite_products(current_user).each do |p| %>
    <div class="favname">
      <ul>
        <li>
          <%= p.name %>
        </li>
      </ul>
    </div>
    <div>
      <ol class="feed">
        <% favorites_news_feed(current_user).each do |f| %>
          <% if p.id == f.product_id %>     
            <li>
              <span class="content"><%= f.info %></span>
            </li>
          <%end%>
        <%end%>
      </ol>
    </div>
  <%end%>
<%end%>