<h1>Welcome to ProductPedia</h1>
<%if user_signed_in?%> 
  <div>
    <ol class="feed">
      <% current_user.feed.each do |f| %>    
        <li>
          <span class="content"><%= f.info %></span>
          <span class="feedproduct">- <%= f.product.name%> </span>
        </li>
      <%end%>
    </ol>
  </div>
<%end%>