development: &default
  adapter: postgresql
  database: prodpedia_development
  username: prodpedia
  password: secret
  host: localhost 
  encoding: utf8
  min_messages: warning
  pool: 2
  timeout: 5000

test:
  <<: *default
  database: prodpedia_test
  
production:
  adapter: postgresql
  encoding: unicode
  database: productpedia_production
  pool: 5
  username: productpedia
  password:
