@import 'bootstrap';

.container {
	width: 1060;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}


p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* feed */

.feed {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    color: #778899;
  }
}

.content {
  display: block;
}


.result {
  list-style: none;
  margin: 10px 0 0 0;

  td {
  	padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.favorite {
  list-style: none;
  margin: 10px 0 0 0;

  li {
  	padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.list-group-item {
	text-align: center;
}

.nutritfield {
	text-align: right;
}

.table {
  border-width: 1px;
  border-color: #999999;
}