<div class="panel panel-default">
	<div class="panel-heading">Favorites</div>
	<ul class="nav nav-pills">
	  <li>
	  	<%= link_to('Add',favorite_product_path(@product),method: :post )%>
	  </li>
	  <% if product_is_favorite(current_user, @product) %>
			<li class="addfav">
	    	<%= link_to('Remove ', remove_favorite_product_path(@product), method: :delete)%>
	    </li>
	    <li style = "font-size: 20px">
	    	<span class="glyphicon glyphicon-thumbs-up" style= "padding:10px "></span>
	    </li>
		<%end%>
    <% if  @product.owner_id == current_user.id %>
      <li>
        <%= link_to('Edit product', edit_product_path)%>
      </li>  
    <% end %>
	</ul>
	<ul class="list-group">
    <% current_user.favorite.each do |p| %>
      <li class="list-group-item">
        <%= p.name %>
      </li>
    <%end%>
  </ul>
</div>
