<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">Ingredients(<%= @ingredients.count %>)</div>
		<ul>
			<% @ingredients.each do |ing| %>
				<li class="ingredientname">
				<%= ing.name %>
				</li>
			<%end%>
	  </ul><br/>
	</div>    
</div>