<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">Ingredients(<%= @ingredients.count %>)</div>
		<div class="ingredientname">
			<% @ingredients.each do |ing| %>
				<%= ing.name %>,
			<%end%>
	  </div>
	</div>    
</div>