<div class="container">
	<div class="row">
	  <div class="col-md-3">
	 		<%= render "basic_product_info" %>
		</div>
	
		<div class="col-md-4">
			<%= render "ingredients" %>
	 		<%= render "nutrition_facts"%>
		</div>

		<div class="col-md-5">
			<%= render "favorite_products" %>
		</div>
	</div>
</div>